html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }



  
  main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
  }
  

  h1, h2 {
    margin-top: 0;
  }

  .image-logo img {
    max-width: 10rem;
    height: auto;
    display: flex;
  }

  .image-text {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem; /* space between sections */
  }
  
  .image-text img {
    max-width: 50%;
    height: auto;
  }
  
  .image-text .text {
    max-width: 600px;
  }
  
  /* flip image/text order for every 2nd section */
  .image-text:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #eee;
    font-size: 0.9rem;
  }
  

  
  