html { height: 100%; }

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#b3b3b3 0%, #ffffff 100%);
  background-attachment: fixed;
}

main {
  flex: 1;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}
  

  h1, h2 {
    margin-top: 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #181f2d;
    color: white;
    padding: 1rem;
  }
  
  .footer-content a {
    margin: 0 0.3rem;
    color: white;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }

  .paper-section {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .image-logo p {
    margin-bottom: 8rem;

  }

  .image-text {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem; /* space between sections */
  }
  
  .image-text img {
    max-width: 50%;
    height: auto;
  }
  
  .image-text .text {
    max-width: 600px;
  }
  
  /* flip image/text order for every 2nd section */
  .image-text:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .contact {
    background: white;
    border-radius: 0.5rem;
    padding: 5rem;
  }

  .contact-item i{
    display:flex;
    flex-direction:column;
    font-size:6rem;
    margin-bottom:1rem;
  }
  
  .contact-item a{
    text-decoration:none;
    color:inherit;
  }
  
  .contact-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
    color:inherit;
  }
  
  
  @media (max-width: 768px) {
    .image-text {
      flex-direction: column;    
      gap: 0rem;
    }
    .image-text .text { order: 1; max-width: none; }
    .image-text img  { order: 2; max-width: 100%; height: auto; }
    .image-text:nth-of-type(odd) { flex-direction: column; }
  }
  
  